<template>
  <div class="content-body">
    <div class="form-wrapper">
      <form>
        <div class="header-wrapper">
          <h1 class="heading text-center">Products</h1>
          <router-link :to="{ name: 'ProductSearch' }" class="btn primary">
            Search</router-link
          >
        </div>
        <h2>TotalItems: {{ totalItems }}</h2>
        <div class="search-wrapper">
          <div class="basket-list">
            <div
              class="basket-item"
              v-for="item in basket"
              :key="item['product'].id"
            >
              <div>
                <p>Name: {{ item['product'].name }}</p>
                <p>Type: {{ item['product'].type }}</p>
                <p>Amount: {{ item.amount }}</p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { debounce } from 'lodash-es';
import { ActionTypes } from '../../../store/actions';
import { mapGetters } from 'vuex';

export default Vue.extend({
  data() {
    return {
      searchTerm: '',
    };
  },
  computed: {
    ...mapGetters(['basket', 'totalItems']),
  },
  created() {
    this.debounceSearch = debounce(
      function (term) {
        if (term) {
          this.$store.dispatch(ActionTypes.SEARCH_PRODUCT, term);
        }
      }.bind(this),
      500
    );
  },
});
</script>

<style lang="scss" scoped>
.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.form-wrapper {
  width: 800px;
  min-height: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 48px 40px 36px;
}
.search-wrapper {
  display: flex;
  flex-direction: row;
  .search-field {
    flex-grow: 1;
  }
}
.basket-list {
  margin-top: 20px;
  display: block;
  width: 100%;
  .basket-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-bottom: 5px;
    padding: 7px;
    border: #ccc solid 1px;
    border-radius: 4px;
  }
  & .active {
    border: #1b73e8 solid 1px;
  }
}
.search-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  justify-items: center;
  align-items: center;
  .search-field {
    flex-grow: 1;
    margin-right: 10px;
  }
}
</style>
