<template>
  <div class="content-body">
    <div class="form-wrapper">
      <div class="search-wrapper">
        <div class="input-wrapper">
          <input-field
            input-name="search"
            required
            label="Search"
            class="search-field"
            v-model="searchTerm"
            @input="debounceSearch"
          ></input-field>
        </div>
        <div class="input-wrapper">
          <select
            required
            @change="typeSelected"
            name="productType"
            v-model="selectedProductType"
            class="select"
          >
            <option
              v-for="productType of productTypes"
              :value="productType"
              :key="productType"
            >
              {{ productType }}
            </option>
          </select>
        </div>
      </div>
      <div class="product-list">
        <div
          class="product-item"
          :class="[searchTerm === product.name ? 'active' : '']"
          v-for="product in products"
          :key="product.id"
        >
          <div>
            <p>Name: {{ product.name }}</p>
            <p>Type: {{ product.type }}</p>
          </div>
          <div class="input-wrapper">
            <button class="btn primary" @click="addItem(product)">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { InputField } from '@rs2/frontend-shared';
import { ProductModel, ProductType } from '../../../models/Product';
import { debounce } from 'lodash-es';
import { ActionTypes } from '../../../store/actions';
import { mapGetters } from 'vuex';

export default Vue.extend({
  components: { InputField },
  data() {
    return {
      searchTerm: '',
      selectedProductType: null,
      amount: null,
      selectedProduct: null,
      productTypes: Object.keys(ProductType),
    };
  },
  methods: {
    search() {
      this.$store.dispatch(ActionTypes.SEARCH_PRODUCT, {
        text: this.searchTerm,
        type: this.selectedProductType,
      });
    },
    itemSelected(product: ProductModel) {
      this.searchTerm = product.name;
      this.selectedProduct = product;
      this.search();
    },
    typeSelected(e) {
      this.selectedProductType = e.target.value;
      this.search();
    },
    addItem(product: ProductModel) {
      this.$store.dispatch(ActionTypes.ADD_PRODUCT, product);
      this.$router.push({ name: 'Products' });
    },
  },
  computed: {
    ...mapGetters(['products']),
  },
  created() {
    this.debounceSearch = debounce(
      function (term) {
        this.searchTerm = term;
        this.search();
      }.bind(this),
      500
    );
  },
});
</script>

<style lang="scss" scoped>
.form-wrapper {
  width: 800px;
  min-height: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 48px 40px 36px;
}
.product-list {
  .product-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-bottom: 5px;
    padding: 7px;
    border: #ccc solid 1px;
    border-radius: 4px;
  }
  & .active {
    border: #1b73e8 solid 1px;
  }
}
.search-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  justify-items: center;
  align-items: center;
  .search-field {
    flex-grow: 1;
    margin-right: 10px;
  }
}
</style>
