<template>
  <div class="content-body">
    <div class="form-wrapper">
      <h1 class="heading text-center">Login</h1>
      <p v-if="message" class="form-error text-center">{{ message }}</p>
      <form @submit.prevent="submitForm">
        <input-field
          input-name="username"
          required
          label="Username"
          v-model="username"
        ></input-field>

        <input-field
          input-type="password"
          required
          input-name="password"
          label="Password"
          v-model="password"
        ></input-field>

        <div class="form-action">
          <button type="submit" class="btn primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import InputField from '../../../components/InputField.vue';
import { ActionTypes } from '../store/actions';
export default Vue.extend({
  components: { InputField },
  data() {
    return {
      message: null,
      username: '',
      password: '',
    };
  },
  methods: {
    submitForm() {
      this.$store
        .dispatch(`AuthState/${ActionTypes.LOGIN}`, {
          username: this.username,
          password: this.password,
        })
        .then(() => {
          this.$router.push({ name: 'Products' });
          this.message = '';
        })
        .catch((e) => {
          this.message = e.response.data.message ?? e.message;
        });
    },
  },
});
</script>

<style lang="scss" scoped>
.form-wrapper {
  width: 448px;
  min-height: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 48px 40px 36px;
  border: 1px solid #dbdce0;
  border-radius: 5px;
}

.form-error {
  padding: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(255, 86, 86, 0.9);
  color: white;
  border-radius: 4px;
}

.form-wrapper .heading {
  padding-top: 16px;
}

.form-wrapper .sub-heading {
  padding-top: 8px;
}

.form-wrapper form {
  padding: 24px 0 0 0;
}

.form-action {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

/* For Mobile View */
@media (max-width: 520px) {
  .form-wrapper {
    border: none;
    padding: 48px 20px 36px;
  }
}
</style>
