<template>
  <div class="field">
    <input
      :type="inputType"
      :required="required"
      :name="inputName"
      class="input"
      v-model="currentValue"
      @input="onInput"
    />
    <label :for="inputName" class="label">{{ labelText }}</label>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  props: {
    value: {
      required: true,
    },
    required: {
      default: false,
      type: Boolean,
    },
    inputType: {
      default: 'text',
      type: String,
    },
    inputName: {
      required: true,
      type: String,
    },
    label: {
      default: '',
      type: String,
    },
  },
  data() {
    return {
      labelText: this.label,
      currentValue: this.value,
    };
  },
  methods: {
    onInput(e) {
      this.$emit('input', e.target.value);
    },
  },
  watch: {
    value: function (value, oldValue) {
      if (value.length !== oldValue.length) {
        this.currentValue = value;
      }
    },
  },
});
</script>

<style lang="scss" scoped>
.field {
  position: relative;
  margin-bottom: 25px;
}

.input {
  width: 100%;
  padding: 13px 15px;
  border: none;
  border-radius: 3px;
  line-height: 24px;
  border: #dbdce0 solid 1px;
  font-size: 16px;
  position: relative;
}

.input:focus {
  box-shadow: 0px 0px 0px 2px #1b73e8 inset;
  outline: none;
  transition: 100ms;
}

.label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: 0%;
  transition: transform 100ms, left 100ms;
  font-size: 16px;
  pointer-events: none;
}

.field:focus-within .label,
.input:not(:placeholder-shown) + .label {
  transform: scale(0.8) translateY(-43px);
  left: 12px;
  background-color: #fff;
  color: #1b73e8;
  padding: 1px 5px;
}
</style>
<style></style>
