<template>
  <div>
    <div class="nav">
      <router-link :to="{ name: 'Products' }">Products</router-link>
      <button class="btn primary" @click="logout">Logout</button>
    </div>
    <router-view />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  methods: {
    logout() {
      this.$store.dispatch('AuthState/LOGOUT', null).then(() => {
        this.$router.push({ name: 'Login' });
      });
    },
  },
});
</script>

<style lang="scss" scoped>
.nav {
  margin-top: 20px;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
</style>
